@import url('https://fonts.googleapis.com/css?family=Krub|Source+Sans+Pro:300');

body {
    font-family: 'Krub', sans-serif;
    font-size: 18px;
    color: #333;
}
p {
    line-height: 1.6;
    margin-bottom: 25px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 35px;
}
img {
    max-width: 100%;
    height: auto;
}
header.masthead {
    background: url('TestBanner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header.masthead > .overlay {
    padding: 15rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
    header.masthead > .overlay {
    padding: 1rem 0;
}
}
.bgblue {
    background: #396A93;
}

.navbar {
    padding: 0px;
}
.navbar-brand {
    color: #fff;
}
.nav-item.nav-link {
    margin: 0px;
    padding: 0px;
}
.nav-item.nav-link a  {
    color: #fff;
    padding: 15px;
    display: block
}
.nav-item.nav-link a:hover {
    background: #fff;
    color: #396A93;
    text-decoration: none;
}
.dropdown a:link, .dropdown a:visited {
    color: #fff;
    display: block;
    padding: 15px;
}
.dropdown:hover, .dropdown:active  {
    background: #274a66;
    color: #396A93;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    background: #274a66;
    color: #396A93;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown-menu {
    top: 96%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 11rem;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #274a66;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    padding: 0;
}
.dropdown-item {
    padding: 17px;
}
.dropdown-item:hover {
    color: #000 !important;
}
.date {
    color: #000;
    font-weight: bold;
}
.sidebar-nav, .sidebar-nav li ul {
    background: #f2f2f2;
    margin-left: 0px;
    padding-left: 0px;
}
.sidebar-nav li {
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.sidebar-nav li:last-child {
    border-bottom: none;
}
.sidebar-nav li a:link {
    padding: 15px;
    display: block;
}
.sidebar-nav li a:hover {
    background: #ccc;
    text-decoration: none;
}
.sidebar-nav li ul li:first-child {
    border-top: 1px solid #ccc;
}
.sidebar-nav li ul li a:link {
    background: #ececec;
    padding-left: 40px;
    color: #333;
}
.sidebar-nav li ul li a:hover {
    background: #ccc;
    text-decoration: none;
}
.name {
    margin: 0px;
    line-height: 1;
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
}
.name:before {
    content: '';
    border: 3px solid #396A93;
    margin-right: 10px;
    line-height: 1.8;
}
.title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
.publications p {
    font-size: 15px;
    margin-bottom: 15px;
}